.navbar{
    position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100px;
    background-color: #151925;
    transition: top 0.3s;
}
.left{
    width:35%;
    display: flex;
    justify-content: left;
}
.right{
    width:55%;
    display: flex;
    justify-content: space-around;
}
.button{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: transparent;
    border-color: transparent;
    width:120px;
    height:30px;
    font-size: 18px;
    color:#03B0FD;
    cursor: pointer;
}
.button {
  position: relative;
  border: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.button:focus,
.button:hover {
  color: #fff;
}

.button:focus:after,
.button:hover:after {
  width: 100%;
  left: 0%;
}

.button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


body{
    background-color: #151925;
}
.title{
    color:white;
    font-family:"Poppins", sans-serif;
    font-weight: 600;
}


@keyframes typing {
    /* web developer */
    0%, 27.3488% { content: ""; }
    1.667%, 48.2093% { content: "w"; }
    3.334%, 46.0698% { content: "we"; }
    5.001%, 44.9302% { content: "web"; }
    6.668%, 42.7907% { content: "web "; }
    8.335%, 40.6512% { content: "web d"; }
    11.669%, 38.5116% { content: "web de"; }
    13.336%, 36.3721% { content: "web dev"; }
    15.003%, 34.2326% { content: "web deve"; }
    16.670%, 32.0930% { content: "web devel"; }
    19.3953%, 31.9535% { content: "web develo"; }
    21.5349%, 29.8140% { content: "web develop"; }
    23.6744%, 28.6744% { content: "web develope"; }
    25.8140%, 26.5349% { content: "web developer"; }
   
    

    /* mern stack developer */
    80.1164%, 79.9302% { content: ""; }
    81.2558%, 78.7907% { content: "m"; }
    82.3953%, 77.6512% { content: "me"; }
    83.5349%, 76.5116% { content: "mer"; }
    84.6744%, 75.3721% { content: "mern"; }
    85.8140%, 74.2326% { content: "mern "; }
    86.9535%, 73.0930% { content: "mern s"; }
    88.0930%, 71.9535% { content: "mern st"; }
    89.2326%, 70.8140% { content: "mern sta"; }
    90.3721%, 69.6744% { content: "mern stac"; }
    91.5116%, 68.5349% { content: "mern stack"; }
    92.6512%, 67.3953% { content: "mern stack "; }
    93.7907%, 66.2558% { content: "mern stack d"; }
    94.9302%, 65.1163% { content: "mern stack de"; }
    96.0698%, 63.9767% { content: "mern stack dev"; }
    97.2093%, 62.8372% { content: "mern stack deve"; }
    98.3488%, 61.6977% { content: "mern stack devel"; }
    99.4884%, 60.5581% { content: "mern stack develo"; }
    100%, 59.4186% { content: "mern stack develop"; }
    100%, 58.2791% { content: "mern stack develope"; }
    100%, 57.1395% { content: "mern stack developer"; }

    /* react js developer */
    100%, 55.9302% { content: ""; }
    100%, 54.7907% { content: "r"; }
    100%, 53.6512% { content: "re"; }
    100%, 52.5116% { content: "rea"; }
    100%, 51.3721% { content: "reac"; }
    100%, 50.2326% { content: "react"; }
    100%, 49.0930% { content: "react "; }
    100%, 47.9535% { content: "react j"; }
    100%, 46.8140% { content: "react js"; }
    100%, 45.6744% { content: "react js "; }
    100%, 44.5349% { content: "react js d"; }
    100%, 43.3953% { content: "react js de"; }
    100%, 42.2558% { content: "react js dev"; }
    100%, 41.1163% { content: "react js deve"; }
    100%, 39.9767% { content: "react js devel"; }
    100%, 38.8372% { content: "react js develo"; }
    100%, 37.6977% { content: "react js develop"; }
    100%, 36.5581% { content: "react js develope"; }
    100%, 35.4186% { content: "react js developer"; }
  
 }

  .typewriter {
    --caret:#03B0FD;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }